#body {
    color: rgb(0, 1, 2);
    background-color: rgba(214, 72, 47, 0.582);
    font-family: "Courier New", Courier, monospace;
    position: relative;
  }


  #fotoscordoba{
    text-align: center;
  }
  